{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": "**/*.spec.js",
      "options": {
        "printWidth": 120
      }
    }
  ]
}